header {
  text-align: center;
  font-size: 1.5em;
}

footer {
  text-align: center;
  margin-top: 15%;
}

body {
  font-size: 1em;
  margin-left: 25%;
  margin-right: 25%;
}

.box {
  border: 1px solid #FFFFFF;
  margin: 5px;
}

.heading {
  margin-bottom: 0px;
}

.minimized, .medium, #detailed {
  text-align: center;
}

.minimized img {
  width: 15px;
  height: 15px;
}

.minimized {
  margin-top: 5px;
}

.medium {
  margin-bottom: 15px;
}

p {
  margin: 2px;
}

img {
  margin: 2px;
}

.user_img {
  width: 80px;
  height: 80px;
}

.article_container {
  display: flex;
  flex-direction: column;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  width: 100%;
}

.section_article_container {
  display: flex;
  flex-direction: row;
  display: -webkit-flex;
  -webkit-flex-direction: row;
}
